
<h3>Good day all Bury Abbey Rotarians, our next meeting is: {{ meeting.9 }}</h3>

<p></p>
<p>Date: <strong>{{ meeting.0 }}</strong><br>
        Time: arrive by <strong>{{ meeting.2 }}</strong> for a
        <strong>{{ meeting.1 }}</strong> prompt start<br>
        Location: <strong>{{ meeting.4 }}</strong></P>
<p></p>
<p>Notifying apologies: If you are unable to attend please log
        into <a href="http://barco-club.org" target="_blank" ><strong>BARCO</strong></a> and register your
        apologies by {{ meeting.3 }} otherwise it will be assumed you will
        be attending and charged for your meal.</p>
<p></p>
<p>Please remember to update any changes to your dietary requirements.</p>
<p></p>
<p>If you have any agenda points, please let me know ASAP.</p>
<p></p>
<p>The agenda and last month’s minutes will be available
        in <a href="http://barco-club.org" target="_blank" ><strong>BARCO</strong></a> nearer the time with
        visitors and apologies etc. noted.</p>
<p></p>
<p>See you all soon.</p>
<p></p>
<p>Wishing you a lovely weekend in the meantime.</p>
<p></p>
<p>Kind regards.</p>
<p></p>
<p><b>{{ meeting.5 }}</b><br>
        {{ meeting.6 }}<br>
M: {{ meeting.7 }}<br>
E: <a href="mailto:{{ meeting.8 }}">{{ meeting.8 }}</a></p>

<p></p>
<p>If you have problems logging in to Barco,
        please contact the <a href="mailto:gary.clayton.gc@googlemail.com">System Administrator</a>
        who will be happy to help.</p>
<p></p>
<p>Note from Barco Administrator: During this initial trial period you can still contact Deborah
        to register your apologies but this will be phased out after the end of the Rotary year.<br>
        It is therefore important that you endeavour to familiarise yourself with the
        Barco ""meeting attendance system before then.</p>