<h3>Good day all Bury Abbey Rotarians, our next social gathering is: {{ meeting.9 }}</h3>
<p></p>
<p>Date: <strong>{{ meeting.0 }}</strong><br>
        Time: arrive by <strong>{{ meeting.2 }}</strong> for a
        <strong>{{ meeting.1 }}</strong> prompt start<br>
        Location: <strong>{{ meeting.4 }}</strong></P>
<p></p>
<p><a href="http://barco-club.org" target="_blank" ><strong>BARCO</strong></a> is available until {{ meeting.3 }}
        for you to register your attendance but after that please advise
        <a href="mailto:{{ meeting.8 }}">{{ meeting.5 }}</a> with any late availability.</p>
<p></p>
<p>Unlike Business Meetings for Social gatherings it is assumed that you are not comming unless you register.
        For social meetings please also register any guests that are accompaning you at the event.</p>
<p></p>

<p>We sincerly hope you can make it and we hope to see you there.</p>
<p></p>

<p>Kind regards.</p>
<p></p>
<p><b>{{ meeting.5 }}</b><br>
{{ meeting.6 }}<br>
M: {{ meeting.7 }}<br>
E: <a href="mailto:{{ meeting.8 }}">{{ meeting.8}}</a></p>
<p></p>
<p>If you have problems logging in to Barco,
        please contact the <a href="mailto:gary.clayton.gc@googlemail.com">System Administrator</a>
        who will be happy to help.</p>
<p></p>
<p>Note from Barco Administrator: During this initial trial period you can still contact Deborah
        to register your apologies but this will be phased out after the end of the Rotary year.<br>
        It is therefore important that you endeavour to familiarise yourself with the
        Barco ""meeting attendance system before then.</p>
