{% extends "charity/charity.html" %}

{% block title %}All Charities{% endblock title %}
{% block sidenav %}
    {% for page in Page_list %}
        <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
<h2>Charities that club have supported by year</h2>
<b>
    {% for y in years %}
    <span><a href="charity_year/{{ y }}?filter={{ y }}" title="Charitys supported by club within Rotary year {{ y }}">'{{ y }}'</a>&emsp;</span>
    {% endfor %}
</b>

<h1>All 'charities' BARC have supported</h1>

{% if 'CommunityService' in user.groups.all|join:"," %}
    <p><a href=" {% url 'new-charity-entry' %}" title="Add a new charity to the database - please check that it doesn't already exist">
        Add New Charity to Database</a></p>
{% endif %}


<table style="border-collapse:collapse">
    <tr class ="companyhdr">
        <th>ID</th>
        <th>Name</th>
        <th>Sector</th>
        <th>Address</th>
    </tr>
    {% for charity in data %}
        <tr class="companyrow {% cycle '' 'altrow' %}">
            <td>{{ charity.0 }}</td>
            <td><a href="show/{{ charity.0 }}?filter={{ charity.0 }}" title="View Charity Detail">{{ charity.1 }}</a></td>
            <td>{{ charity.2 }}</td>
            <td>{{ charity.3 }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}
