{% extends "quotes/quote.html" %}

{% block title %}Document Repository{% endblock title %}

{% block sidenav %}
    {% for page in Page_list %}
        <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}

    <h2>All Documents of type {{ type }}</h2>
    <p>Please ensure that you have the correct application to open any file downloaded</p>

    <table style="border-collapse:collapse">
        <tr class ="companyhdr">
            <th>ID</th>
            <th>Document Type</th>
            <th>Title</th>
            <th>Meeting Date</th>
            <th>File Type</th>
            <th>Download</th>
            {% if 'DocumentManager' in user.groups.all|join:", " %}
                <th>Delete</th>
            {% endif %}
        </tr>
        {% for quote in data %}
            <tr class="companyrow {% cycle '' 'altrow' %}">
                <td>{{ quote.0 }}</td>
                <td style="width: 50px;">{{ quote.1 }}</td>
                <td style="width: 175px;">{{ quote.2 }}</td>
                <td style="width: 100px;">{{ quote.3 }}</td>
                <td style="width: 50px;">{{ quote.6 }}</td>
                <td><a href="?filename={{ quote.5.name }}" target="_blank" >Download</a></td>
                {% if 'DocumentManager' in user.groups.all|join:", " %}
                    <td><a href="/quote/quote_delete/{{ quote.0 }}?filter={{ quote.0 }}">Delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock content %}