{% extends "companys/company.html" %}

{% block title %}All Companys{% endblock title %}

{% block sidenav %}
    {% for page in Page_list %}
        <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}

    <h3>Company donations  in {{ year }}</h3>
   <table style="border-collapse:collapse">
    <tr class ="companyhdr">
        <th>Company</th>
        <th>Event</th>
        <th>Support</th>
        <th>Value</th>
    </tr>
    {% for contribution in cont %}
        <tr class="companyrow {% cycle '' 'altrow' %}">
            <td><a href="/company/show/{{ contribution.1 }}?filter={{ contribution.1 }}">{{ contribution.0 }}</a></td>
            <td style="width:35%;"><a href="/event/showed/{{ contribution.3 }}?filter={{ contribution.3 }}">{{ contribution.2 }}</a></td>
            <td>{{ contribution.4 }}</td>
            <td>{{ contribution.5 }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock content %}